
body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color:#223F55;
}

.navbar-default{
  background-color: #1B3244;
  border-color:#162836;
  box-shadow:0px 0px 2px #000;
  font-family: 'Fjalla One', sans-serif;
  font-size:110%;
}

.navbar-nav>li>a{
  border-left:1px solid #1B3244;
  border-right:1px solid #1B3244;
  text-shadow:2px 2px 3px #000;
}

.navbar-nav>.active>a{
  background-color:#bdccd7 !important;
  color:#162836 !important;
  border-left:1px solid #bdccd7;
  border-right:1px solid #bdccd7;
  text-shadow:none;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
  background-color:#bdccd7 !important;
  color:#162836 !important;
  border-left:1px solid #1B3244;
  border-right:1px solid #1B3244;
  text-shadow:none;
}


#breadcrumbWrapper{
  padding: 50px 0px 0px 0px;
  background-color:#bdccd7;
  box-shadow:0px 0px 2px #000;
}

.breadcrumb {
  background-color:#bdccd7;
  margin:0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

#wrap{min-height:100%;background-color:#e9e9e9;}
#main{
  overflow:auto;
  padding-bottom:180px;
}
.footer{
  position:relative;
  margin-top: -180px;
  height:180px;
  clear:both;
  padding-top: 10px;
}


/*
#main{
  overflow:auto;
  padding-bottom:180px;
}

.wrap {min-height:100%;}
.wrap > .container{
    padding: 0px 15px 20px;

}
*/

.introBlock{}
  /*-- Jumbotron tweaks --*/
.jumbotron {
    padding:20px 20px 10px 20px;
    margin:30px 20px 20px 20px;
    text-shadow:4px 2px 2px #000;
    text-align: center;
    color:#efefef;
    border-color:#15344e;
    background-color:#223F55;
    background-image: url(../images/code-background.png);
    background-size:cover;
    background-repeat:no-repeat;
}

.authorBlock {margin-top:20px;}
.authorBlock img{margin-bottom:10px;}



#contactme{
  background-color:#356385;
  /* border-bottom:4px solid #15344e;*/
  box-shadow:0px 0px 2px #000;
}

#contactme h3{
  text-shadow:2px 2px 1px #333;
  color:#e3e3e3;
}

#contactme .contact-info, .blog-view .contact-info, .authorBlock .contact-info{
    background-color: #2A4F6A;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 0 12px;
    text-align: left;
    margin-bottom:20px;
}

#contactme .contact-info p, .blog-view .contact-info p, .authorBlock .contact-info p{
    border-bottom: 2px dashed #15344e;
    margin: 0;
    padding: 12px 0;
    font-weight: bold;
}

#contactme .contact-info p:last-child, .blog-view .contact-info p:last-child, .authorBlock .contact-info p:last-child{
  border-bottom: none;
}
#contactme .extra-padding{padding:0px 30px 0px 30px;}


.footer{
    text-shadow:2px 2px 1px #333;
    color:#e3e3e3;
    background-color: #223F55;
  }

.btn-no-shadow {
  text-shadow:none;
}

.btn-dark-text {
  color:#223F55 !important;
  font-weight:bold;
}

.footer a, .footer a:active{
  color:#99bcdb;
}
.footer a:hover{
  color:#e3e3e3;
}

.footer a.btn, .footer a.btn:active, .footer a.btn:hover{
  color:#eee;
}

.footer .blogTitle {font-size:130%;}
.img-blog-footer{max-width:90px; float:right; margin:0px 0px 0px 0px;}


.footer hr{margin:10px 0px; border-color:#eee}

#quicklinks {padding-left:0px;}
#quicklinks li {list-style-type:none;}
#quicklinks li {list-style-type:none;}



h1, h2, h3, h4, h5 { font-family: 'Fjalla One', sans-serif; }


.panel-monumentix{
  background-color:#356385;
}

.panel-monumentix .panel-title{
  font-size:120%;
  text-shadow:2px 2px 1px #333;
  color:#e3e3e3;
}

.panel-monumentix .panel-body{
  background-color: #fff;
  font-size:110%;
}

.panel-monumentix .panel-footer{
  border-top: 1px #356385 solid;
  background-color: #e3e3e3;
}


.no-padding{
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
}

.shadow{text-shadow:2px 2px 2px #333;}
.shadowbox{box-shadow:5px 5px 5px #333;}

.img-coder-logo-small{border:5px solid #15344e; margin:10px;}
.img-coder-logo-large{border:5px solid #15344e;}
.img-coder-logo-thumb{max-width:120px; border:4px solid #223F55;}

.seperator{border-bottom: 2px solid #223F55;}


.blog-view{padding-top:20px;}
.blog-devider{border-top-color: #356385;}

.blog-view .blogTitle{font-size:140%;}
.blog-view .blogAuthor{font-size:120%;}

.blogPostOverview{margin-left: 0px;}




.recentTitles{}
