a.modalLaunch:hover{
  cursor:pointer;
}

.modal-backdrop{
  position:fixed !important;
}

#loadingImg .loading-text{
  text-align:center;
  font-size:5em;
  vertical-align:middle;
}

#loadingImg .loading-icon{
  text-align:center;
  font-size:10em;
  vertical-align:middle;
}

.marvel-pager:last-child{
  margin-bottom:20px;
}

.comics-comics-detail{
  margin-top:30px;
}


.detail-blurb span, .long-description span, .series span{
  font-weight:bold;
  font-size:120%;
}

.detail-blurb p, .long-description p{
  font-weight:bold;
  font-size:110%;
}
