/*Set up our content area */
#content-wrapper{
  background-color: #f7f7f7;
  border-top:0px #162836 solid;
  border-color:#162836;
  box-shadow:0px 0px 2px #666;
}


.prettyprint{
  width:auto;
  overflow:auto;
  max-height:400px;
}

a.modalLaunch:hover{
  cursor:pointer;
}

.modal-backdrop{
  position:fixed !important;
}

#loadingImg .loading-text{
  text-align:center;
  font-size:5em;
  vertical-align:middle;
}

#loadingImg .loading-icon{
  text-align:center;
  font-size:10em;
  vertical-align:middle;
}

.marvel-pager:last-child{
  margin-bottom:20px;
}

.comics-comics-detail{

}


.detail-blurb span, .long-description span, .series span{
  font-weight:bold;
  font-size:120%;
}

.detail-blurb p, .long-description p{
  font-size:115%;
}

.panel-monumentix p.limited-to {margin-bottom:0px;}

.eventsList p.limited-to  {font-size:100%;}
.eventsList p.limited-to a{font-weight:bold;}

.panel-seriesEventsItems .panel-body{
  margin:0px;
  padding:0px;
}

ul.seriesEventsItems{
  margin:0px;
  padding:5px;
  text-align:center;
}

li.seriesEventItem{
  font-size:125%;
  font-wieght:bold;
  display:inline-block;
  margin:0px 10px 0px 10px;
}

img.img-comic-cover{
  border:1px solid #666;
  box-shadow: 10px 10px 10px #666;
}


.seriesComics .seriesComicsTitle {
  max-width:100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  font-size:90%;
}
