a.modalLaunch:hover{
  cursor:pointer;
}

.modal-backdrop{
  position:fixed !important;
}

#loadingImg .loading-text{
  text-align:center;
  font-size:5em;
  vertical-align:middle;
}

#loadingImg .loading-icon{
  text-align:center;
  font-size:10em;
  vertical-align:middle;
}

.marvel-pager:last-child{
  margin-bottom:20px;
}
